html,body 
{
	background: url("");
	background-size: cover;
	margin:0 auto;
	padding:0px;
	border-width:0px;
	width:100%;
	height:100%;
}

#canvas
{
	position:fixed;
	top:140px;
	left:6%;
	width:75%;
	height:78%;

}

#presentation 
{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

#jeu 
{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	
}

#saisieHiscore 
{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
